<div class="w-full p-3 bg-neutral-950 py-4">
    <div class="flex justify-center item-center">
        <ul class="flex space-x-1 gap-6">
            <li 
            (click)="changeRoute('home')"
            class=" text-gray-200 font-bold cursor-pointer hover:underline hover:text-white hover:transition-colors">Home</li>
            <li 
            (click)="changeRoute('productListing')"
            class=" text-gray-200 font-bold cursor-pointer hover:underline hover:text-white hover:transition-colors">Products</li>
            <li 
            (click)="changeRoute('cart')"
            class=" text-gray-200 font-bold cursor-pointer hover:underline hover:text-white hover:transition-colors">Cart 
            <span class="bg-red-600 ml-2 text-white text-xs font-semibold px-2.5 py-0.5 rounded">{{productService.cartQuantity}}</span>
            </li>
            <!-- <li class="text-gray-200 font-bold cursor-pointer hover:underline hover:text-white hover:transition-colors"></li> -->
        </ul>
    </div>
</div>